.card{
    /* //relative to parent */
position: relative; 
width: 400px;
padding:20px;
max-width: 85vw;
height:50vh;
border-radius: 20px;
background-size: cover;
background-position: center;
box-shadow: 0px 18px 53px 0px rgba(0,0,0,0.3);


}


.card__container{
display:flex;
justify-content: center;
height:5vh

}


.card > h3{
   position:absolute;
   color :wheat;
   bottom : 30px
}

.swipe{
    position:absolute
}